[submodule "Tools"]
	path = Tools
	url = git@github.com:Minary/Tools.git
[submodule "Plugins"]
	path = Plugins
	url = git@github.com:Minary/Plugins.git
[submodule "Payloads"]
	path = MinaryPayloads
	url = git@github.com:rubenunteregger/MinaryPayloads.git 
[submodule "Tests"]
	path = MinaryTests
	url = git@github.com:rubenunteregger/MinaryTests.git 
[submodule "Build"]
	path = MinaryBUILD
	url = git@github.com:rubenunteregger/MinaryBUILD.git 
	
