<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.22.0" targetFramework="net40" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>